<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }} - {{ subtitle }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="t9l-page-home">
        <div class="t9l-page__row--top">
            <div class="t9l-title-box">
                <img class="t9l-title-box__title" src="{{ asset('build/assets/media/logos/h1.png') }}" alt="{{ title }}" />
                <img class="t9l-title-box__subtitle" src="{{ asset('build/assets/media/logos/h2.png') }}" alt="{{ subtitle }}" />
            </div>
        </div>

        <div class="t9l-page__row--bottom">

            <div class="t9l-mainmenu">

                <p class="t9l-mainmenu__item">{{ menulist.newchar }}</p>
                <p class="t9l-mainmenu__item">{{ menulist.charlist }}</p>
                <p class="t9l-mainmenu__item">{{ menulist.campaigns }}</p>
                <p class="t9l-mainmenu__item">{{ menulist.dm }}</p>
                <p class="t9l-mainmenu__item">{{ menulist.rules }}</p>

            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
