{% extends 'base.html.twig' %}

{% block body %}
    <div class="t9l-page t9l-home">
        <div class="t9l-home__row--top">
            <div class="t9l-title-box">
                <img class="t9l-title-box__title" src="{{ asset('build/assets/media/logos/h1.png') }}" alt="{{ title }}" />
                <img class="t9l-title-box__subtitle" src="{{ asset('build/assets/media/logos/h2.png') }}" alt="{{ subtitle }}" />
            </div>
            <div class="t9l-button-box">
                <a class="t9l-button" type="button" href="#" target="_blank"><i class="t9l-icons icon-backoffice"></i></a>
                <a class="t9l-button" type="button" href="#" target="_blank"><i class="t9l-icons icon-profile"></i></a>
                {{ include('atoms/buttons/logout.html.twig') }}
            </div>
        </div>

        <div class="t9l-home__row--bottom">

            <div class="t9l-mainmenu">

                <p class="t9l-mainmenu__item">{{ menulist.newchar }}</p>
                <p class="t9l-mainmenu__item"><a href="{{ menulist.charlist.url }}" target="_self">{{ menulist.charlist.label }}</a></p>
                <p class="t9l-mainmenu__item">{{ menulist.campaigns }}</p>
                <p class="t9l-mainmenu__item">{{ menulist.dm }}</p>
                <p class="t9l-mainmenu__item">{{ menulist.rules }}</p>

            </div>

        </div>
    </div>
{% endblock %}
