<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }} - {{ subtitle }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="t9l-homepage">
        <div class="row__top">
            <div class="title-box">
                <img class="title-box__title" src="{{ asset('build/assets/media/logos/h1.png') }}" alt="{{ title }}" />
                <img class="title-box__subtitle" src="{{ asset('build/assets/media/logos/h2.png') }}" alt="{{ subtitle }}" />
            </div>
        </div>

        <div class="row__bottom">

            <div class="form_wrapper">

                {{ form_start(login_form) }}
                    {{ form_errors(login_form) }}

                    {{ form_row(login_form.email, {'attr': {'class':''}}) }}
                    {{ form_row(login_form.password) }}

                    {{ form_row(login_form.save) }}
                {{ form_end(login_form) }}

            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
