<div id="row_top">
    <div id="title_box">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
    </div>
</div>

<div id="row_bottom">

    <div id="content_box">
        <p>{{ login_account.email.label }}</p>
        <p>{{ login_account.password.label }}</p>

        {{ form_start(login_form) }}
        {{ form_widget(login_form) }}

        <input type="submit"/>
        {{ form_end(login_form) }}

    </div>

</div>
